body {
    text-align: center;
}

.list {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.item {
    display: flex;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 20px 5px;
    padding: 10px;
}

.list .item span:first-child {
    width: 35%;
    font-weight: bolder;
}